
@media screen and (max-width:450px){
    
    
    
}


@media screen and (min-width:650px){
    #restaurants-list li {
        width:50%;
        
    }
    
    
}

@media screen and (min-width:900px){
  #restaurants-list li {
        width:33.333333%;
        
    }
    
    
}

@media screen and (min-width:1280px){
    
     #restaurants-list li {
        width:25%;
        
    }
    
}